# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.idea/
*.iml
out
gen
src/main/resources/*.yml
target
/out
/classes
/checkouts
/.lein-*
/.env
.DS_Store
*/target
.svn
.project
.settings
.classpath
logs
/log
/tmp
hotspot.log