<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyj.secondhandhousetrade.mapper.HouseMapper">
	<resultMap id="userMap" type="User">
		<result property="userId" column="id" javaType="Integer" jdbcType="NUMERIC"></result>
		<result property="username" column="username" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="password" column="password" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="email" column="email" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="phone" column="phone" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="type" column="type" javaType="Integer" jdbcType="NUMERIC"></result>
		<result property="nickname" column="nickname" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="headImg" column="head_img" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="status" column="status" javaType="Integer" jdbcType="NUMERIC"></result>
		<result property="insertTime" column="insert_time" javaType="java.time.LocalDateTime"
		        jdbcType="TIMESTAMP"></result>
	</resultMap>

	<resultMap id="agentMap" type="Agent">
		<result property="userId" column="user_id" javaType="Integer" jdbcType="NUMERIC"></result>
		<result property="userInfo" column="user_info" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="sellMotto" column="sell_motto" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="appraise" column="appraise" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="service" column="service" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="houseResource" column="house_resource" javaType="java.lang.String"
		        jdbcType="VARCHAR"></result>
		<result property="address" column="address" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="selled" column="selled" javaType="Integer" jdbcType="NUMERIC"></result>
		<result property="lookHouse" column="look_house" javaType="Integer" jdbcType="NUMERIC"></result>
		<result property="serviceYear" column="service_year" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="carrerInfo" column="carrer_info" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="license" column="license" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="company" column="company" javaType="java.lang.String" jdbcType="VARCHAR"></result>
		<result property="insertTime" column="insert_time" javaType="java.time.LocalDateTime"
		        jdbcType="TIMESTAMP"></result>
	</resultMap>

	<insert
			id="insert"
			parameterType="User"
			statementType="PREPARED"
			useGeneratedKeys="true"
			keyProperty="user.userId"
	>
		insert into t_user (username, password, email, phone, type, nickname, status, head_img, insert_time)
		VALUES
		(#{user.username},#{user.password},#{user.email},#{user.phone},#{user.type},#{user.nickname},#{user.status},#{user.headImg},#{user.insertTime})
	</insert>

	<insert
			id="insertAgent"
			parameterType="Agent"
			statementType="PREPARED"
			useGeneratedKeys="true"
			keyProperty="agent.id"
	>
		insert into t_agent (user_id, user_info, SELL_MOTTO, appraise, service, house_resource, address, selled, look_house,
		service_year, carrer_info, license, company,insert_time)
		VALUES
		(#{agent.userId},#{agent.userInfo},#{agent.sellMotto},#{agent.appraise},#{agent.service},#{agent.houseResource},#{agent.address},
		#{agent.selled},#{agent.lookHouse},#{agent.serviceYear},#{agent.carrerInfo},#{agent.license},#{agent.company},#{agent.insertTime})
	</insert>

	<select
			id="findByUsername"
			resultMap="userMap"
			flushCache="false"
			useCache="true"
			timeout="10000"
			fetchSize="256"
			statementType="PREPARED"
			resultSetType="FORWARD_ONLY">
		SELECT * from t_user WHERE username = #{username} and password = #{password}
	</select>
	<select
			id="findByUsernameOnly"
			resultMap="userMap"
			flushCache="false"
			useCache="true"
			timeout="10000"
			fetchSize="256"
			statementType="PREPARED"
			resultSetType="FORWARD_ONLY">
		SELECT * from t_user WHERE username = #{username}
	</select>
	<select id="list"
	        resultMap="userMap"
	        flushCache="false"
	        useCache="true"
	        timeout="10000"
	        fetchSize="256"
	        statementType="PREPARED"
	        resultSetType="FORWARD_ONLY">
		SELECT * FROM t_demo
	</select>
	<update
			id="update"
			parameterType="User"
			flushCache="true"
			statementType="PREPARED"
			timeout="20">

	</update>

	<delete
			id="deleteById"
			parameterType="User"
			flushCache="true"
			statementType="PREPARED"
			timeout="20">
	</delete>
</mapper>
