.personalCenter-row{
    margin-top: 90px;
}

.personalCenter-row1{
    margin-top: 60px;
}

.personalCenter-buttn{
    text-align: right;
    color: #707070;
}

.personalCenter-head{
    margin-top: -5px;
}

.personalCenter-distence{
    text-align: right;
    color: #707070;
    margin-top: 10px;
    font-size: medium;
    font-family: 幼圆;
}

.personalCenter-distence1{
    color: #707070;
    margin-top: 10px;
    font-size: medium;
    font-family: 幼圆;
}

.personalCenter-text-row{
    margin-top: 15px;
}

.personalCenter-text-row1{
    margin-top: 10px;
}

.personalCenter-text{
    color: #707070;
    font-size: x-large;
}

.personalCenter-context-row{
    margin-top: 20px;
}

.personalCenter-text1{
    color: #707070;
    font-family: 幼圆;
    font-size: medium;
}

.personal-center-show{
    display: none;
}

.personal-star{
    text-align: left;
}

.personal-date{
    text-align: right;
    color: #707070;
    font-family: 幼圆;
    font-size: medium;
}

.personal-button{
    text-align: right;
    color: #707070;
    font-family: 幼圆;
    font-size: medium;
}

.personal-appraise{
    color: #333333;
    font-family: 幼圆;
    font-size:large;
    margin-top: 10px;
}

.personal-margin{
    margin-top: 10px;
    color: #707070;
    font-family: 幼圆;
    font-size: small;
}

.personal-menu-style{
    color: #707070;
    font-size: small;
}

.personal-money-style{
    text-align: right;
    color: #c12e2a;
    font-size: 25px;
    font-weight: bolder;
}
.personal-wan{
    text-align: right;
    color: #c9302c;
    font-size: medium;

}